/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/08/2018, 10:11:37
    Author     : l201164
    Leonardo Ferrari Soares ;)
*/
head {background-image: url("https://media.giphy.com/media/9WC8WTZsFxkRi/giphy.gif"); background-size: auto; opacity:0,2}
h1 {text-align:center; }  
header {background-image: url("https://media.giphy.com/media/9WC8WTZsFxkRi/giphy.gif"); color:white;}
section {color:black;}
body {background-image: url("https://media.giphy.com/media/9WC8WTZsFxkRi/giphy.gif");}
